%h3 What do you want to talk about?

= simple_form_for @form do |f|
  = f.input :name, readonly: @form.readonly?(:name)
  = f.input :description
  = f.input :file, as: :file

  %fieldset
    %legend Do you know any authors?

    - if tyrant.signed_in?
      .row
        = f.input :is_author, wrapper: :vertical_form_checkbox

      %hr

    = f.fields_for :users do |a|
      .row
        = a.input :email, readonly: a.object.readonly?

        -if a.object.removeable?
          = a.input :remove, as: :boolean, wrapper: :vertical_form_checkbox

  = f.button :submit, class: :expand

= @form.errors.messages